.video-show{
    margin: 0;
    padding: 0;
}

.hero-container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.hero_video{
    background-size: contain;
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    /* line-height: ; */
    /* display: flex;
    flex-wrap: wrap; */
}


iframe {
    max-width: 760px;
    width: 100%;
    height: 300px;
    /* margin: 10px */
    /* height: 100%; */
   /* border-radius: 5px; */
}

@media screen and (max-width: 968px){
    iframe{
        max-width: 760px;
        width: 100%;
        height: 280px;
  
    }

}
@media screen and (max-width: 768px){
    iframe{
        max-width: 560px;
        width: 100%;
        height: 260px;
    }
}

