.social{
    display: flex;
    margin-top: 15px;
}
.social-item{
    width: 40px;
    height: 30px;
    color: #000;
    background-color: #fff;
}



@media screen and (max-width: 768px){
    .social{
    display: none;
    }
}